:root {
    --primary-font:Arial, Helvetica, sans-serif;
    --primary-color:  hsl(0, 0%, 17%);
    --seconday-color: rgba(0, 0, 0, 0.7);
    --background-color: hsl(0,0,95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--primary-font);
    background-color: var(--background-color);
}