:root {
    --primary-font:Arial, Helvetica, sans-serif;
    --primary-color:  hsl(0, 0%, 17%);
    --secondary-color: rgba(0, 0, 0, 0.1);
    --background-color: hsl(0, 0%, 17%);
    --left-padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--primary-font);
    
}

@media (width <768px) {
    .page-wrapper {
        padding-top: 15px;
    }

    /* greet-wrapper */
    .greet-wrapper {
        padding-left: var(--left-padding);
    }
    /* username-wrapper */
    .username-wrapper h1 {
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 20px;
        color: var(--primary-color);
    }
    .date p {
        font-size: 10px;
        font-family: var(--primary-font);
        line-height: 20px;
        font-weight: 600;
        color: var(--primary-color);
    }

    /* category-wrapper */
    .todo p {
        font-size: 20px;
        font-family: var(--primary-font);
        font-weight: 600;
    }
    .category-wrapper {
        padding: var(--left-padding);
    }
    .category-inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
    }

    @scope (.category-inner-wrapper .span) {
        background-color: var(--background-color);
        border-radius: 10px;
        padding: 10px;
        box-shadow: -3px 0px 5px black;
        
        .icon-wrapper .icon {
            width: 30px;
            height: 30px;
            /* padding-left: 10px; */
            color: white;
        }
        p{
            font-size: 15px;
            color: white;
        }
        .time {
            font-size: 10px;
            line-height: 20px;
        }
        .total-task {
            display: flex;
            justify-content: space-between;
        }
        .total-task .icon {
            color: white;
        }
    }

    /* task-wrapper */
    .task-wrapper {
        padding: var(--left-padding);
    }
    .today p {
        font-size: 20px;
        font-family: var(--primary-font);
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 10px;
    }
    .tasks {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--background-color);
        padding: 10px;
        border-radius: 10px;
    }
    .task-span {
        display: flex;
        gap: 5px;
    }
    .task-span label {
        color: white;
        user-select: none;
    }
    input[type="radio"]:checked + label {
        font-weight: bold;
    }
}