*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font:Arial, Helvetica, sans-serif;
    --primary-color:  hsl(0, 0%, 17%);
    --seconday-color: rgba(0, 0, 0, 0.7);
}

.mains-container {
    
}
 @media (width<768px) {
    .mains-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
    }

    /* img-wrapper */

    .img-wrapper {
        display: flex;
        justify-content: center;
    }
    .img-wrapper img {
        padding-top: 30px;
        width: 250px;
        height: auto;
    }

    /* heading-wrapper */
    .content-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .heading-wrapper h1{
        font-size: 30px;
        font-family: var(--primary-font);
        font-weight: 600;
    }
    .heading-wrapper p {
        padding-top: 10px;
        font-family: var(--primary-font);
        font-weight: 600;
        padding-left: 10px;
        color: var(--primary-color);
    }

    /* button-wrapper */
    .button-wrapper {
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        gap: 20px;
    }
    .button-wrapper button {
        width: 8rem;
        height: 3.5rem;
        border: none;
        background-color: var(--primary-color);
        color: white;
        font-family: var(--primary-font);
        font-weight: 600;
        border-radius: 10px;
    }

 }