* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: Arial, Helvetica, sans-serif;
    --primary-color: hsl(0, 0%, 17%);
    --secondary-color: rgba(0, 0, 0, 0.1);
    --left-padding: 20px;
}

@media (width <768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: white;
    }

    /* page-name */
    @scope (.page-name) {
        display: flex;
        padding: var(--left-padding);
        gap: 30px;

        div .icon,
        div h1 {
            font-size: 20px;
            font-family: var(--primary-font);
            font-weight: 600;
        }
    }

    /* form-container */
    @scope (.form-container form) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 30px;
        padding: 20px;
        /* background-color: var(--secondary-color); */
        border-radius: 10px;
        box-shadow: -4px -2px 9px black;

        @scope (div) {
            background-color: var(--secondary-color);
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            border-radius: 10px;

            label {
                color: var(--primary-color);
                font-weight: 600;
                font-family: var(--primary-font);
                width: 100%;
            }

            input {
                display: flex;
                background: none;
                width: 100%;
                border: none;
                outline: none;
                font-family: var(--primary-font);
                font-weight: 600;
                text-decoration: none;
            }
            textarea {
                background: none;
                border: none;
                outline: none;
            }
            
        }
    }

    /* save button */
    @scope (.save-btn) {
        display: flex;
        justify-content: center;
        align-items: center; 
        background: none;       
        
        button {
                background-color: var(--primary-color);
                color: white;
                border: none;
                padding: 15px;
                width: 80%;
                border-radius: 25px;
            }
    }

}